<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
      <add name="devstockdb1" providerName="System.Data.SqlClient" connectionString="Server=den1.mssql6.gear.host;Database=devstockdb1;User Id=devstockdb1;Password=senhapi@" />
    </connectionStrings>
</configuration>