<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="devstockdb1" providerName="System.Data.SqlClient" connectionString="Data Source=den1.mssql6.gear.host;
      Initial Catalog=devstockdb1; User Id=devstock1; password=senhapi@" />
  </connectionStrings>
</configuration>